@using TemplateGenerator.Models.Th15
@{
    var charaKeyTotal = Definitions.CharacterKeysTotalFirst.First();
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@Html.Raw(Definitions.Title) スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 150px; }
    td.name { min-width: 70px; }
    td.score { min-width: 70px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    td.retry { min-width: 50px; }
    td.date { min-width: 120px; }
    td.slow { min-width: 50px; }
    table.count td.count { min-width: 80px; }
    table.count td.time { min-width: 80px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>@Html.Raw(Definitions.Title) スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th15score2.html">個別ランキング</a></li>
     <li><a href="th15score3.html">プラクティス</a></li>
     <li><a href="th15card1.html">御札戦歴（@Html.Raw(Definitions.GameModes["P"])）</a></li>
     <li><a href="th15card2.html">御札戦歴（@Html.Raw(Definitions.GameModes["L"])）</a></li>
    </ul>
    <ul>
    @foreach (var level in Definitions.LevelNames)
    {
     <li><a href="#@(level.Value)">@Html.Raw(level.Value)</a></li>
    }
     <li><a href="#Other">その他の状態一覧</a></li>
     <li><a href="#Clear">クリア達成度</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>難易度別スコア</h2>

    @foreach (var level in Definitions.LevelNames)
    {
    <table class="score_per_level">
     <caption id="@(level.Value)">@Html.Raw(level.Value)</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="retry">Retry</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
        @foreach (var chara in Definitions.CharacterNames)
        {
            @foreach (var gameMode in Definitions.GameModes)
            {
      <tr>
       <td class="character">@Html.Raw(chara.Value) (@(gameMode.Key))</td>
       <td class="name">%T15SCR@(gameMode.Key)@(level.Key)@(chara.Key)11</td>
       <td class="score">%T15SCR@(gameMode.Key)@(level.Key)@(chara.Key)12</td>
       <td class="date">%T15SCR@(gameMode.Key)@(level.Key)@(chara.Key)14</td>
       <td class="stage">%T15SCR@(gameMode.Key)@(level.Key)@(chara.Key)13</td>
       <td class="retry">%T15SCR@(gameMode.Key)@(level.Key)@(chara.Key)16</td>
       <td class="slow">%T15SCR@(gameMode.Key)@(level.Key)@(chara.Key)15</td>
      </tr>
            }
        }
     </tbody>
    </table>
@:
    }
   </section>

   <hr />

   <section>
    <h2 id="Other">その他の状態一覧</h2>

    @foreach (var gameMode in Definitions.GameModes)
    {
    <table class="count">
     <caption>@Html.Raw(gameMode.Value)</caption>
     <thead>
      <tr>
       <th rowspan="2" class="character">Character</th>
       <th rowspan="2" class="count">総プレイ回数</th>
       <th rowspan="2" class="time">プレイ時間</th>
       <th colspan="6">クリア回数</th>
      </tr>
      <tr>
        @foreach (var levelKey in Definitions.LevelKeysTotalLast)
        {
       <th class="level">@Html.Raw(Definitions.LevelWithTotalNames[levelKey])</th>
        }
      </tr>
     </thead>
     <tbody>
        @foreach (var chara in Definitions.CharacterNames)
        {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
       <td class="count">%T15CHARA@(gameMode.Key)@(chara.Key)1</td>
       <td class="time">%T15CHARA@(gameMode.Key)@(chara.Key)2</td>
            @foreach (var levelKey in Definitions.LevelKeysTotalLast)
            {
       <td class="level">%T15CHARAEX@(gameMode.Key)@(levelKey)@(chara.Key)3</td>
            }
      </tr>
        }
     </tbody>
     <tfoot>
      <tr>
       <td class="character">@Html.Raw(Definitions.CharacterWithTotalNames[charaKeyTotal])</td>
       <td class="count">%T15CHARA@(gameMode.Key)@(charaKeyTotal)1</td>
       <td class="time">%T15CHARA@(gameMode.Key)@(charaKeyTotal)2</td>
        @foreach (var levelKey in Definitions.LevelKeysTotalLast)
        {
       <td class="level">%T15CHARAEX@(gameMode.Key)@(levelKey)@(charaKeyTotal)3</td>
        }
      </tr>
     </tfoot>
    </table>
        @if (gameMode.Key != Definitions.GameModes.Last().Key)
            @Html.Raw(Environment.NewLine)
    }
   </section>

   <hr />

   <section>
    <h2 id="Clear">クリア達成度</h2>

    @foreach (var gameMode in Definitions.GameModes)
    {
    <table class="clear">
     <caption>@Html.Raw(gameMode.Value)</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
        @foreach (var level in Definitions.LevelNames)
        {
       <th class="level">@Html.Raw(level.Value)</th>
        }
      </tr>
     </thead>
     <tbody>
        @foreach (var chara in Definitions.CharacterNames)
        {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
            @foreach (var level in Definitions.LevelNames)
            {
       <td class="stage">%T15CLEAR@(gameMode.Key)@(level.Key)@(chara.Key)</td>
            }
      </tr>
        }
     </tbody>
    </table>
        @if (gameMode.Key != Definitions.GameModes.Last().Key)
            @Html.Raw(Environment.NewLine)
    }
   </section>

  </main>

  <footer>
@await Html.PartialAsync("_Footer")
  </footer>

 </body>
</html>
