@using TemplateGenerator.Models.Th175
@{
    var charaKeyTotal = Definitions.CharacterKeysTotalFirst.First();
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@Html.Raw(Definitions.Title) スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 120px; }
    td.level { min-width: 70px; }
    td.score { min-width: 70px; }
    td.time { min-width: 70px; }
    td.count { min-width: 100px; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>@Html.Raw(Definitions.Title) スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th175score2.html">個別ランキング</a></li>
    </ul>
    <ul>
    @foreach (var level in Definitions.LevelNames)
    {
     <li><a href="#@(level.Value)">@Html.Raw(level.Value)</a></li>
    }
     <li><a href="#Other">その他の状態一覧</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>難易度別スコア</h2>

    @foreach (var level in Definitions.LevelNames)
    {
    <table class="score_per_level">
     <caption id="@(level.Value)">@Html.Raw(level.Value)</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="score">Score</th>
       <th class="time">Time</th>
      </tr>
     </thead>
     <tbody>
        @foreach (var chara in Definitions.CharacterNames)
        {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
       <td class="score">%T175SCR@(level.Key)@(chara.Key)11</td>
       <td class="time">%T175SCR@(level.Key)@(chara.Key)12</td>
      </tr>
        }
     </tbody>
    </table>
@:
    }
   </section>

   <hr />

   <section>
    <h2 id="Other">その他の状態一覧</h2>

    <table class="count">
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="count">使用回数</th>
       <th class="count">あきらめた回数</th>
       <th class="count">クリア回数</th>
       <th class="count">完璧クリア回数</th>
      </tr>
     </thead>
     <tbody>
    @foreach (var chara in Definitions.CharacterNames)
    {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
       <td class="count">%T175CHR@(chara.Key)1</td>
       <td class="count">%T175CHR@(chara.Key)2</td>
       <td class="count">%T175CHR@(chara.Key)3</td>
       <td class="count">%T175CHR@(chara.Key)4</td>
      </tr>
    }
     </tbody>
     <tfoot>
      <tr>
       <td class="character">@Html.Raw(Definitions.CharacterWithTotalNames[charaKeyTotal])</td>
       <td class="count">%T175CHR@(charaKeyTotal)1</td>
       <td class="count">%T175CHR@(charaKeyTotal)2</td>
       <td class="count">%T175CHR@(charaKeyTotal)3</td>
       <td class="count">%T175CHR@(charaKeyTotal)4</td>
      </tr>
     </tfoot>
    </table>
   </section>

  </main>

  <footer>
@await Html.PartialAsync("_Footer")
  </footer>

 </body>
</html>
