@using TemplateGenerator.Models.Th18
@{
    var charaKeyTotal = Definitions.CharacterKeysTotalFirst.First();
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@Html.Raw(Definitions.Title) スコアデータ</title>
  <link rel="stylesheet" href="style.css" />
<style>
/* <![CDATA[ */
    td.character { min-width: 100px; }
    td.name { min-width: 70px; }
    td.score { min-width: 70px; }
    td.level { min-width: 70px; }
    td.stage { min-width: 70px; }
    td.date { min-width: 120px; }
    td.slow { min-width: 50px; }
    table.count td.count { min-width: 80px; }
    table.count td.time { min-width: 80px; }
    table.ability { float: left; }
    table.ability th.number { text-align: center; }
    table.ability td.number { min-width: 2em; }
    table.ability td.name { min-width: 12em; }
    table.achievement { float: left; }
    table.achievement th.number { text-align: center; }
    table.achievement td.number { min-width: 2em; }
    table.achievement td.achievement { min-width: 12em; }
/* ]]> */
</style>
 </head>

 <body>

  <header>
   <h1>@Html.Raw(Definitions.Title) スコアデータ</h1>
   <hr />
   <nav>
    <ul>
     <li>スコアデータ全般</li>
     <li><a href="th18score2.html">個別ランキング</a></li>
     <li><a href="th18score3.html">プラクティス</a></li>
     <li><a href="th18card1.html">御札戦歴（@Html.Raw(Definitions.CareerKinds["S"])）</a></li>
     <li><a href="th18card2.html">御札戦歴（@Html.Raw(Definitions.CareerKinds["P"])）</a></li>
    </ul>
    <ul>
    @foreach (var level in Definitions.LevelNames)
    {
     <li><a href="#@(level.Value)">@Html.Raw(level.Value)</a></li>
    }
     <li><a href="#Other">その他の状態一覧</a></li>
     <li><a href="#Clear">クリア達成度</a></li>
     <li><a href="#Ability">発見済みアビリティカード一覧</a></li>
     <li><a href="#Achievement">実績</a></li>
    </ul>
   </nav>
  </header>

  <main>

   <section>
    <h2>難易度別スコア</h2>

    @foreach (var level in Definitions.LevelNames)
    {
    <table class="score_per_level">
     <caption id="@(level.Value)">@Html.Raw(level.Value)</caption>
     <thead>
      <tr>
       <th class="character">Character</th>
       <th class="name">Name</th>
       <th class="score">Score</th>
       <th class="date">Date</th>
       <th class="stage">Stage</th>
       <th class="slow">Slow</th>
      </tr>
     </thead>
     <tbody>
        @foreach (var chara in Definitions.CharacterNames)
        {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
       <td class="name">%T18SCR@(level.Key)@(chara.Key)11</td>
       <td class="score">%T18SCR@(level.Key)@(chara.Key)12</td>
       <td class="date">%T18SCR@(level.Key)@(chara.Key)14</td>
       <td class="stage">%T18SCR@(level.Key)@(chara.Key)13</td>
       <td class="slow">%T18SCR@(level.Key)@(chara.Key)15</td>
      </tr>
        }
     </tbody>
    </table>
@:
    }
   </section>

   <hr />

   <section>
    <h2 id="Other">その他の状態一覧</h2>

    <table class="count">
     <thead>
      <tr>
       <th rowspan="2" class="character">Character</th>
       <th rowspan="2" class="count">総プレイ回数</th>
       <th rowspan="2" class="time">プレイ時間</th>
       <th colspan="6">クリア回数</th>
      </tr>
      <tr>
    @foreach (var levelKey in Definitions.LevelKeysTotalLast)
    {
       <th class="level">@Html.Raw(Definitions.LevelWithTotalNames[levelKey])</th>
    }
      </tr>
     </thead>
     <tbody>
    @foreach (var chara in Definitions.CharacterNames)
    {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
       <td class="count">%T18CHARA@(chara.Key)1</td>
       <td class="time">%T18CHARA@(chara.Key)2</td>
        @foreach (var levelKey in Definitions.LevelKeysTotalLast)
        {
       <td class="level">%T18CHARAEX@(levelKey)@(chara.Key)3</td>
        }
      </tr>
    }
     </tbody>
     <tfoot>
      <tr>
       <td class="character">@Html.Raw(Definitions.CharacterWithTotalNames[charaKeyTotal])</td>
       <td class="count">%T18CHARA@(charaKeyTotal)1</td>
       <td class="time">%T18CHARA@(charaKeyTotal)2</td>
    @foreach (var levelKey in Definitions.LevelKeysTotalLast)
    {
       <td class="level">%T18CHARAEX@(levelKey)@(charaKeyTotal)3</td>
    }
      </tr>
     </tfoot>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Clear">クリア達成度</h2>

    <table class="clear">
     <thead>
      <tr>
       <th class="character">Character</th>
    @foreach (var level in Definitions.LevelNames)
    {
       <th class="level">@Html.Raw(level.Value)</th>
    }
      </tr>
     </thead>
     <tbody>
    @foreach (var chara in Definitions.CharacterNames)
    {
      <tr>
       <td class="character">@Html.Raw(chara.Value)</td>
        @foreach (var level in Definitions.LevelNames)
        {
       <td class="stage">%T18CLEAR@(level.Key)@(chara.Key)</td>
        }
      </tr>
    }
     </tbody>
    </table>
   </section>

   <hr />

   <section>
    <h2 id="Ability">発見済みアビリティカード一覧</h2>

    @foreach (var place10 in Enumerable.Range(0, (int)Math.Ceiling(Definitions.NumAbilityCards / 10f)))
    {
    <table class="ability">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="name">カード名</th>
      </tr>
     </thead>
     <tbody>
        @foreach (var place1 in Enumerable.Range(0, 10))
        {
            var abilityCard = place10 * 10 + place1 + 1;
            if (abilityCard > Definitions.NumAbilityCards)
                break;

            var abilityCardKey = abilityCard.ToString("D2");
      <tr><td class="number">@(abilityCard)</td><td class="name">%T18ABIL@(abilityCardKey)</td></tr>
        }
     </tbody>
    </table>
    }
   </section>

   <hr />

   <section>
    <h2 id="Achievement">実績</h2>

    @foreach (var place10 in Enumerable.Range(0, (int)Math.Ceiling(Definitions.NumAchievements / 10f)))
    {
    <table class="achievement">
     <thead>
      <tr>
       <th scope="col" class="number">No.</th>
       <th scope="col" class="achievement">実績</th>
      </tr>
     </thead>
     <tbody>
        @foreach (var place1 in Enumerable.Range(0, 10))
        {
            var achievement = place10 * 10 + place1 + 1;
            var achievementKey = achievement.ToString("D2");
      <tr><td class="number">@(achievement)</td><td class="achievement">%T18ACHV@(achievementKey)</td></tr>
        }
     </tbody>
    </table>
    }
   </section>

  </main>

  <footer>
@await Html.PartialAsync("_Footer")
  </footer>

 </body>
</html>
